@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Inter+Tight:wght@600;700&display=fallback);*,::before,::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

::before,::after {
    --tw-content: ''
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,samp,pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,[type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,[role="button"] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

[type="text"],input:where(:not([type])),[type="email"],[type="url"],[type="password"],[type="number"],[type="date"],[type="datetime-local"],[type="month"],[type="search"],[type="tel"],[type="time"],[type="week"],[multiple],textarea,select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000
}

[type="text"]:focus,input:where(:not([type])):focus,[type="email"]:focus,[type="url"]:focus,[type="password"]:focus,[type="number"]:focus,[type="date"]:focus,[type="datetime-local"]:focus,[type="month"]:focus,[type="search"]:focus,[type="tel"]:focus,[type="time"]:focus,[type="week"]:focus,[multiple]:focus,textarea:focus,select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    border-color: #2563eb
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}

input::placeholder,textarea::placeholder {
    color: #6b7280;
    opacity: 1
}

::-webkit-datetime-edit-fields-wrapper {
    padding: 0
}

::-webkit-date-and-time-value {
    min-height: 1.5em;
    text-align: inherit
}

::-webkit-datetime-edit {
    display: inline-flex
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0
}

select {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 20\ 20\'%3e%3cpath\ stroke=\'%236b7280\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'1.5\'\ d=\'M6\ 8l4\ 4\ 4-4\'/%3e%3c/svg%3e);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
}

[multiple],[size]:where(select:not([size="1"])) {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    -webkit-print-color-adjust: unset;
    print-color-adjust: unset
}

[type="checkbox"],[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000
}

[type="checkbox"] {
    border-radius: 0px
}

[type="radio"] {
    border-radius: 100%
}

[type="checkbox"]:focus,[type="radio"]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
}

[type="checkbox"]:checked,[type="radio"]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

[type="checkbox"]:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e)
}

@media (forced-colors:active) {
    [type="checkbox"]:checked {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto
    }
}

[type="radio"]:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3ccircle\ cx=\'8\'\ cy=\'8\'\ r=\'3\'/%3e%3c/svg%3e)
}

@media (forced-colors:active) {
    [type="radio"]:checked {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto
    }
}

[type="checkbox"]:checked:hover,[type="checkbox"]:checked:focus,[type="radio"]:checked:hover,[type="radio"]:checked:focus {
    border-color: transparent;
    background-color: currentColor
}

[type="checkbox"]:indeterminate {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 16\ 16\'%3e%3cpath\ stroke=\'white\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'2\'\ d=\'M4\ 8h8\'/%3e%3c/svg%3e);
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

@media (forced-colors:active) {
    [type="checkbox"]:indeterminate {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto
    }
}

[type="checkbox"]:indeterminate:hover,[type="checkbox"]:indeterminate:focus {
    border-color: transparent;
    background-color: currentColor
}

[type="file"] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
}

[type="file"]:focus {
    outline: 1px solid ButtonText;
    outline: 1px auto -webkit-focus-ring-color
}

*,::before,::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.cvh1t {
    width: 100%
}

@media (min-width: 640px) {
    .cvh1t {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .cvh1t {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .cvh1t {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .cvh1t {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .cvh1t {
        max-width:1536px
    }
}

.cqo8g,.culq2,.carql,.cimtm {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000
}

.cqo8g:focus,.culq2:focus,.carql:focus,.cimtm:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    border-color: #2563eb
}

.cqo8g::-moz-placeholder,.culq2::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}

.cqo8g::placeholder,.culq2::placeholder {
    color: #6b7280;
    opacity: 1
}

.cqo8g::-webkit-datetime-edit-fields-wrapper {
    padding: 0
}

.cqo8g::-webkit-date-and-time-value {
    min-height: 1.5em;
    text-align: inherit
}

.cqo8g::-webkit-datetime-edit {
    display: inline-flex
}

.cqo8g::-webkit-datetime-edit,.cqo8g::-webkit-datetime-edit-year-field,.cqo8g::-webkit-datetime-edit-month-field,.cqo8g::-webkit-datetime-edit-day-field,.cqo8g::-webkit-datetime-edit-hour-field,.cqo8g::-webkit-datetime-edit-minute-field,.cqo8g::-webkit-datetime-edit-second-field,.cqo8g::-webkit-datetime-edit-millisecond-field,.cqo8g::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0
}

.carql {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 20\ 20\'%3e%3cpath\ stroke=\'%236b7280\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'1.5\'\ d=\'M6\ 8l4\ 4\ 4-4\'/%3e%3c/svg%3e);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
}

.carql:where([size]:not([size="1"])) {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    -webkit-print-color-adjust: unset;
    print-color-adjust: unset
}

.cb059,.cbeh2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000
}

.cb059 {
    border-radius: 0px
}

.cbeh2 {
    border-radius: 100%
}

.cb059:focus,.cbeh2:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
}

.cb059:checked,.cbeh2:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

.cb059:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e)
}

@media (forced-colors:active) {
    .cb059:checked {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto
    }
}

.cbeh2:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3ccircle\ cx=\'8\'\ cy=\'8\'\ r=\'3\'/%3e%3c/svg%3e)
}

@media (forced-colors:active) {
    .cbeh2:checked {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto
    }
}

.cb059:checked:hover,.cb059:checked:focus,.cbeh2:checked:hover,.cbeh2:checked:focus {
    border-color: transparent;
    background-color: currentColor
}

.cb059:indeterminate {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 16\ 16\'%3e%3cpath\ stroke=\'white\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'2\'\ d=\'M4\ 8h8\'/%3e%3c/svg%3e);
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

@media (forced-colors:active) {
    .cb059:indeterminate {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto
    }
}

.cb059:indeterminate:hover,.cb059:indeterminate:focus {
    border-color: transparent;
    background-color: currentColor
}

.cbco0 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 650
}

.c32cj {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 650
}

.c3963 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 650
}

.crrep {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 650
}

@media (min-width: 768px) {
    .cbco0 {
        font-size:3rem;
        line-height: 1
    }

    .c32cj {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .c3963 {
        font-size: 1.5rem;
        line-height: 2rem
    }
}

.cofr5,.c8j31 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}

.cofr5 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.c8j31 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none
}

.cqo8g,.culq2,.cimtm,.carql,.cb059,.cbeh2 {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.cqo8g:focus,.culq2:focus,.cimtm:focus,.carql:focus,.cb059:focus,.cbeh2:focus {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233/var(--tw-border-opacity))
}

:is(.dark .cqo8g),:is(.dark .culq2),:is(.dark .cimtm),:is(.dark .carql),:is(.dark .cb059),:is(.dark .cbeh2) {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity))
}

:is(.dark .cqo8g:focus),:is(.dark .culq2:focus),:is(.dark .cimtm:focus),:is(.dark .carql:focus),:is(.dark .cb059:focus),:is(.dark .cbeh2:focus) {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233/var(--tw-border-opacity))
}

.cqo8g,.culq2,.cimtm,.carql {
    border-radius: 9999px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem
}

.cqo8g::-moz-placeholder,.culq2::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175/var(--tw-placeholder-opacity))
}

.cqo8g::placeholder,.culq2::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175/var(--tw-placeholder-opacity))
}

:is(.dark .cqo8g)::-moz-placeholder,:is(.dark .culq2)::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(107 114 128/var(--tw-placeholder-opacity))
}

:is(.dark .cqo8g)::placeholder,:is(.dark .culq2)::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(107 114 128/var(--tw-placeholder-opacity))
}

.carql {
    padding-right: 2.5rem
}

.cb059,.cbeh2 {
    border-radius: 0.125rem;
    border-width: 2px;
    --tw-text-opacity: 1;
    color: rgb(14 165 233/var(--tw-text-opacity))
}

.c093l::-webkit-scrollbar {
    display: none
}

.c093l {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.cqo8g:focus:focus,.culq2:focus:focus,.cimtm:focus:focus,.carql:focus:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(186 230 253 / var(--tw-ring-opacity))
}

:is(.dark .cqo8g:focus:focus),:is(.dark .culq2:focus:focus),:is(.dark .cimtm:focus:focus),:is(.dark .carql:focus:focus) {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.cb059:focus:focus,.cbeh2:focus:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.cagz8 svg>*:nth-child(1),.cagz8 svg>*:nth-child(2),.cagz8 svg>*:nth-child(3) {
    transform-origin: center;
    transform: rotate(0deg)
}

.cagz8 svg>*:nth-child(1) {
    transition: y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),opacity 0.1s ease-in
}

.cagz8 svg>*:nth-child(2) {
    transition: transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19)
}

.cagz8 svg>*:nth-child(3) {
    transition: y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),width 0.1s 0.25s ease-in
}

.cagz8.cwjdt svg>*:nth-child(1) {
    opacity: 0;
    y: 11;
    transform: rotate(225deg);
    transition: y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),opacity 0.1s 0.12s ease-out
}

.cagz8.cwjdt svg>*:nth-child(2) {
    transform: rotate(225deg);
    transition: transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1)
}

.cagz8.cwjdt svg>*:nth-child(3) {
    y: 11;
    transform: rotate(135deg);
    transition: y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),width 0.1s ease-out
}

.cee2v {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0
}

.ct104 {
    visibility: visible
}

.czbrx {
    visibility: collapse
}

.ciobu {
    position: absolute
}

.cu81w {
    position: relative
}

.ckza3 {
    inset: 0px
}

.cl22f {
    right: 1.75rem
}

.c5zah {
    top: 1.25rem
}

.cmsxk {
    order: -9999
}

.cxsad {
    margin-left: auto;
    margin-right: auto
}

.c0wd9 {
    margin-left: -0.75rem;
    margin-right: -0.75rem
}

.cxqn4 {
    margin-bottom: 0.25rem
}

.co3ns {
    margin-bottom: 2.5rem
}

.czq8f {
    margin-bottom: 0.5rem
}

.cxozv {
    margin-bottom: 0.75rem
}

.ca3bq {
    margin-bottom: 1rem
}

.cnwz9 {
    margin-bottom: 1.25rem
}

.cragt {
    margin-bottom: 1.5rem
}

.cerob {
    margin-left: 0.5rem
}

.cbdaa {
    margin-left: auto
}

.csx38 {
    margin-top: 0px
}

.c6uue {
    margin-top: 0.25rem
}

.cpdla {
    margin-top: 0.5rem
}

.cc0tp {
    margin-top: 1rem
}

.ciuyx {
    margin-top: 2rem
}

.ceopy {
    margin-bottom: 0px
}

.cmqto {
    margin-bottom: 0.125rem
}

.cxq13 {
    box-sizing: content-box
}

.cgnol {
    display: block
}

.cpqt6 {
    display: inline
}

.coily {
    display: flex
}

.cyj82 {
    display: inline-flex
}

.c1hft {
    display: grid
}

.cufff {
    display: contents
}

.cgfis {
    display: none
}

.czjac {
    aspect-ratio: 16/9
}

.cfrxt {
    height: 2.5rem
}

.cj7hi {
    height: 2.75rem
}

.csuvb {
    height: 6rem
}

.c8per {
    height: 2rem
}

.ciq3g {
    height: 100%
}

.c78d5 {
    min-height: 100vh
}

.cw2a0 {
    width: 2.5rem
}

.c72v2 {
    width: 2.75rem
}

.cor69 {
    width: 2rem
}

.c3v30 {
    width: 100%
}

.c4f5l {
    width: 70%
}

.cp8h5 {
    width: 66.666%
}

.czqxa {
    width: 66.6667%
}

.cm5mf {
    min-width: 70%
}

.culp3 {
    min-width: 0px
}

.cizro {
    max-width: 56rem
}

.conep {
    max-width: 728px
}

.c2244 {
    max-width: 28rem
}

.cdv43 {
    max-width: 36rem
}

.c73qh {
    flex: 1 1 0%
}

.c9riz {
    flex-shrink: 0
}

.cehj8 {
    flex-grow: 1
}

.crfoe {
    --tw-translate-x: -1rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ckzyo {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c2gl4 {
    --tw-translate-x: 1rem;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cnkxv {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c4ic6 {
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.c2mbn {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ch70x {
    cursor: pointer
}

.cd93l {
    resize: both
}

.cck8e {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.c7qhj {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.c27dl {
    flex-direction: column
}

.cu02t {
    flex-wrap: nowrap
}

.cvq0a {
    align-items: flex-start
}

.c8xr8 {
    align-items: center
}

.c3mug {
    justify-content: flex-end
}

.c2276 {
    justify-content: center
}

.c37m1 {
    gap: 1rem
}

.cs7fr {
    gap: 1.25rem
}

.ccd8f {
    gap: 1.5rem
}

.c45fj>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*calc(1 - var(--tw-space-x-reverse)))
}

.ce075>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem*var(--tw-space-y-reverse))
}

.cxrkr>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.375rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.375rem*var(--tw-space-y-reverse))
}

.c4p6t>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem*var(--tw-space-y-reverse))
}

.cqduh>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse))
}

.cm208>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem*var(--tw-space-x-reverse));
    margin-left: calc(0.75rem*calc(1 - var(--tw-space-x-reverse)))
}

.cf6a7>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse))
}

.cb1d7 {
    overflow: hidden
}

.c3c2z {
    border-radius: 0.25rem
}

.czi0k {
    border-radius: 9999px
}

.c8iyk {
    border-radius: 0.375rem
}

.c752s {
    border-radius: 0.75rem
}

.cwap5 {
    border-radius: 0.5rem
}

.cw9ok {
    border-width: 1px
}

.cq1pq {
    border-width: 0px
}

.cxiys {
    border-width: 2px
}

.catbj {
    border-left-width: 1px;
    border-right-width: 1px
}

.ck2ls {
    border-bottom-width: 2px
}

.csmwk {
    border-style: none
}

.c9rq6 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity))
}

.cun1p {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity))
}

.c7lhy {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.cnt20 {
    border-color: transparent
}

.cr34g {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.c7yyr {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.crok3 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.cmlqw {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.cwnk2 {
    background-color: transparent
}

.cqzhu {
    background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.cgvqk {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

.c8uww {
    --tw-gradient-from: #1f2937 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(31 41 55 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ci9im {
    --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ctphr {
    --tw-gradient-to: #374151 var(--tw-gradient-to-position)
}

.c69po {
    --tw-gradient-to: #f9fafb var(--tw-gradient-to-position)
}

.cpesf {
    --tw-gradient-to: rgb(31 41 55 / 0.65) var(--tw-gradient-to-position)
}

.csx92 {
    fill: currentColor
}

.cvgee {
    fill: #d1d5db
}

.cf0l8 {
    fill: #9ca3af
}

.cbnwc {
    fill: #6b7280
}

.c42yo {
    fill: #374151
}

.cal0l {
    fill: #1f2937
}

.cclia {
    -o-object-fit: cover;
    object-fit: cover
}

.c090i {
    padding: 0.5rem
}

.c1q7e {
    padding: 1.25rem
}

.c41ld {
    padding-left: 0px;
    padding-right: 0px
}

.c73l9 {
    padding-left: 0.125rem;
    padding-right: 0.125rem
}

.cbpt3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}

.c3nn6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.cj2ez {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.cq26x {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.cjfll {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.ck1og {
    padding-bottom: 4rem
}

.cvz7l {
    padding-top: 1.5rem
}

.cpi2s {
    text-align: center
}

.cd5fh {
    font-family: Inter,sans-serif
}

.ckx3g {
    font-family: Inter Tight,sans-serif
}

.cx37a {
    font-size: 1.5rem;
    line-height: 2rem
}

.cmzn5 {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.cp78t {
    font-size: 13px
}

.cuykd {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.cl9w0 {
    font-size: 0.875rem;
    line-height: 1.25rem
}

.c4o0c {
    font-weight: 700
}

.ckgk8 {
    font-weight: 500
}

.c045m {
    font-weight: 600
}

.c5qvh {
    font-style: italic
}

.c0n2d {
    letter-spacing: -0.025em
}

.c0eh6 {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.c1m9b {
    --tw-text-opacity: 1;
    color: rgb(229 231 235/var(--tw-text-opacity))
}

.cn1lv {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

.c1gv6 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.cplrd {
    color: rgb(107 114 128/0.7)
}

.cjnk1 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

.c32qj {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity))
}

.ca1ms {
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity))
}

.c2c2a {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.cdifo {
    --tw-text-opacity: 1;
    color: rgb(79 70 229/var(--tw-text-opacity))
}

.cc3xj {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.cjjyr {
    text-decoration-line: underline
}

.c0t07 {
    text-decoration-color: #d1d5db
}

.ciyg5 {
    text-decoration-thickness: 2px
}

.c9n2z {
    text-underline-offset: 2px
}

.ciyl2 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cfsq7 {
    opacity: 0.8
}

.crmuo {
    opacity: 0
}

.c1tql {
    opacity: 1
}

.cdvd9 {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.cev7p {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.csjzu {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.cgb7l {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.c6x7o {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity))
}

.chkgq {
    --tw-ring-offset-width: 2px
}

.cn84b {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.c5pyv {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.c88aw {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cw7qc {
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.c0key {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cd3xt {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.ca7ij {
    transition-delay: 200ms
}

.cg1ry {
    transition-delay: 300ms
}

.cs4tg {
    transition-duration: 300ms
}

.cnykm {
    transition-duration: 500ms
}

.cuhgd {
    transition-duration: 2000ms
}

.c7rta {
    transition-duration: 700ms
}

.ccy0p {
    transition-timing-function: cubic-bezier(.5,.85,.25,1.8)
}

.cht0w {
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}

.c6umq {
    transition-timing-function: cubic-bezier(0,0,0.2,1)
}

.cca8g {
    transition-timing-function: cubic-bezier(.5,.85,.6,1.2)
}

.c63ni {
    transition-timing-function: cubic-bezier(0.68,-0.3,0.32,1)
}

.ckcv7 {
    -webkit-mask-image: linear-gradient(to right,transparent 0,black 28%,black calc(100% - 28%),transparent 100%);
    mask-image: linear-gradient(to right,transparent 0,black 28%,black calc(100% - 28%),transparent 100%)
}

.cnncz {
    -webkit-mask-image: linear-gradient(to left,black 0,transparent 50%);
    mask-image: linear-gradient(to left,black 0,transparent 50%)
}

.coed9 {
    -webkit-mask-image: linear-gradient(to right,black 0,transparent 50%);
    mask-image: linear-gradient(to right,black 0,transparent 50%)
}

.cq65d {
    -webkit-mask-image: linear-gradient(to right,black 50%,transparent 100%);
    mask-image: linear-gradient(to right,black 50%,transparent 100%)
}

.cxf0q {
    -webkit-mask-image: linear-gradient(to right,black 50%,transparent 90%);
    mask-image: linear-gradient(to right,black 50%,transparent 90%)
}

.ckajk {
    -webkit-mask-image: linear-gradient(to right,transparent 10%,black 20%,black 50%,transparent 90%);
    mask-image: linear-gradient(to right,transparent 10%,black 20%,black 50%,transparent 90%)
}

.cxr6g {
    -webkit-mask-image: linear-gradient(to right,transparent 0%,black 10%,black 50%,transparent 90%);
    mask-image: linear-gradient(to right,transparent 0%,black 10%,black 50%,transparent 90%)
}

.c1jy2 {
    -webkit-mask-image: linear-gradient(to right,transparent 0%,black 10px,black 50%,transparent 90%);
    mask-image: linear-gradient(to right,transparent 0%,black 10px,black 50%,transparent 90%)
}

.cp4ik {
    -webkit-mask-image: linear-gradient(to right,transparent 48px,black 64px,black 50%,transparent 90%);
    mask-image: linear-gradient(to right,transparent 48px,black 64px,black 50%,transparent 90%)
}

.cn272::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

.cn272::placeholder {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

.c5v5y::before {
    content: var(--tw-content);
    position: absolute
}

.c57ju::before {
    content: var(--tw-content);
    inset: 0px
}

.clbo7::before {
    content: var(--tw-content);
    z-index: -10
}

.ca0vo::before {
    content: var(--tw-content);
    border-radius: inherit
}

.cz4g8::before {
    content: var(--tw-content);
    background-image: linear-gradient(45deg,transparent 25%,rgb(255 255 255/.2) 50%,transparent 75%,transparent 100%)
}

.co05v::before {
    content: var(--tw-content);
    background-image: linear-gradient(to top,var(--tw-gradient-stops))
}

.c2mzw::before {
    content: var(--tw-content);
    --tw-gradient-from: rgb(3 7 18 / 0.5) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(3 7 18 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c3fki::before {
    content: var(--tw-content);
    --tw-gradient-to: transparent var(--tw-gradient-to-position)
}

.cps9j::before {
    content: var(--tw-content);
    --tw-gradient-to-position: 75%
}

.ceq97::before {
    content: var(--tw-content);
    background-size: 250% 250%,100% 100%
}

.c3ew3::before {
    content: var(--tw-content);
    background-position: 200%0,0 0
}

.cb1r6::before {
    content: var(--tw-content);
    background-repeat: no-repeat
}

.crren::before {
    content: var(--tw-content);
    opacity: 0
}

.cq8eh::before {
    content: var(--tw-content);
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.crrq3::before {
    content: var(--tw-content);
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cr20p::before {
    content: var(--tw-content);
    transition-duration: 500ms
}

.ckmfp::before {
    content: var(--tw-content);
    transition-duration: 300ms
}

.cdbsk::before {
    --tw-content: '&dlquote;';
    content: var(--tw-content)
}

.crolm::before {
    --tw-content: '&ldquo;';
    content: var(--tw-content)
}

.cntqx::before {
    --tw-content: '\&ldquo;';
    content: var(--tw-content)
}

.cy522::before {
    --tw-content: '\"';
    content: var(--tw-content)
}

.cpj3u::before {
    --tw-content: '\201C';
    content: var(--tw-content)
}

.cel1w::before {
    content: var(--tw-content);
    transition: background-position 0s ease
}

.cxena::after {
    --tw-content: '\201D';
    content: var(--tw-content)
}

.cna1y:nth-child(odd) {
    --tw-rotate: -2deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ceoke:nth-child(odd) {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

.ciqjs:nth-child(odd) {
    --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.czmrt:nth-child(odd) {
    --tw-gradient-to: #f9fafb var(--tw-gradient-to-position)
}

.cfbgi:nth-child(even) {
    --tw-rotate: 2deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cthr9:nth-child(even) {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

.c0u90:nth-child(even) {
    --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.cuu6p:nth-child(even) {
    --tw-gradient-to: #f9fafb var(--tw-gradient-to-position)
}

.c1djd:focus-within {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.ccjug:hover {
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity))
}

.csdx0:hover {
    text-decoration-line: underline
}

.cyamd:hover::before {
    content: var(--tw-content);
    background-position: -100%0,0 0
}

.cjf4f:hover::before {
    content: var(--tw-content);
    transition-duration: 1500ms
}

.cg5dd:focus {
    border-style: none
}

.ctljk:focus {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0/var(--tw-border-opacity))
}

.c9d3d:focus {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.c7lew:focus {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128/var(--tw-border-opacity))
}

.cwhdf:focus {
    --tw-border-opacity: 1;
    border-color: rgb(165 180 252/var(--tw-border-opacity))
}

.c4px3:focus {
    border-color: transparent
}

.ca31b:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.ceoh7:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.cvg9q:focus {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.c3ibl:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.c9ilf:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.chn51:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.chr33:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.cbpiq:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity))
}

.cudf3:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity))
}

.cdpp3:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity))
}

.cj63u:focus {
    --tw-ring-opacity: 0.5
}

.cq3r2:focus {
    --tw-ring-offset-width: 0px
}

.cd9la:focus {
    --tw-ring-offset-width: 2px
}

.cdgze:hover .c65hu {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cdgze:hover .c4s0r {
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cdgze:hover .cn899 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

.cgder[data-state=active] {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99/var(--tw-bg-opacity))
}

.c8sda[data-state=active] {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity))
}

.cxb0k[data-state=active] {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

.cwrf2[data-state=active] {
    --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ciqq8[data-state=active] {
    --tw-gradient-to: #f9fafb var(--tw-gradient-to-position)
}

.crgzn[data-state=active]::before {
    content: var(--tw-content);
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

.ctm47[data-state=active]::before {
    content: var(--tw-content);
    --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(243 244 246 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.ccbti[data-state=active]::before {
    content: var(--tw-content);
    --tw-gradient-to: #f9fafb var(--tw-gradient-to-position)
}

.c6gci[data-state=active]::before {
    content: var(--tw-content);
    opacity: 1
}

@supports (overflow: clip) {
    .c3x9r {
        overflow:clip
    }
}

:is(.dark .cd4qx) {
    display: block
}

:is(.dark .cx0yj) {
    display: none
}

:is(.dark .cf4er) {
    border-color: rgb(75 85 99/0.65)
}

:is(.dark .czk57) {
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55/var(--tw-border-opacity))
}

:is(.dark .chc5d) {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity))
}

:is(.dark .c2yrc) {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity))
}

:is(.dark .cmwzp) {
    --tw-bg-opacity: 1;
    background-color: rgb(3 7 18/var(--tw-bg-opacity))
}

:is(.dark .cvx4u) {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

:is(.dark .cvr54) {
    --tw-gradient-from: #d1d5db var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(209 213 219 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .czakf) {
    --tw-gradient-from: #1f2937 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(31 41 55 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .cha6o) {
    --tw-gradient-to: #f3f4f6 var(--tw-gradient-to-position)
}

:is(.dark .cwq9q) {
    --tw-gradient-to: rgb(31 41 55 / 0.65) var(--tw-gradient-to-position)
}

:is(.dark .cfs63) {
    fill: #f3f4f6
}

:is(.dark .c7v7z) {
    --tw-text-opacity: 1;
    color: rgb(243 244 246/var(--tw-text-opacity))
}

:is(.dark .cu98r) {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

:is(.dark .caf15) {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

:is(.dark .cht5m) {
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity))
}

:is(.dark .cg1zu) {
    text-decoration-color: #4b5563
}

:is(.dark .cotl8) {
    opacity: 1
}

:is(.dark .criup) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(75 85 99 / var(--tw-ring-opacity))
}

:is(.dark .ca7ob)::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

:is(.dark .ca7ob)::placeholder {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

:is(.dark .c6x6e)::before {
    content: var(--tw-content);
    background-image: linear-gradient(45deg,transparent 25%,#fff 50%,transparent 75%,transparent 100%)
}

:is(.dark .cqd2s:nth-child(odd)) {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

:is(.dark .citpx:nth-child(odd)) {
    --tw-gradient-from: #1f2937 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(31 41 55 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .cjmwz:nth-child(odd)) {
    --tw-gradient-to: rgb(31 41 55 / 0.65) var(--tw-gradient-to-position)
}

:is(.dark .chksn:nth-child(even)) {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

:is(.dark .c0uy8:nth-child(even)) {
    --tw-gradient-from: #1f2937 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(31 41 55 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .cpuu4:nth-child(even)) {
    --tw-gradient-to: rgb(31 41 55 / 0.65) var(--tw-gradient-to-position)
}

:is(.dark .c7vou:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

:is(.dark .cns9e:hover) {
    --tw-text-opacity: 1;
    color: rgb(243 244 246/var(--tw-text-opacity))
}

:is(.dark .cdgze:hover .c62sf) {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

:is(.dark .cq8ih[data-state=active]) {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

:is(.dark .chool[data-state=active]) {
    --tw-gradient-from: #1f2937 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(31 41 55 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .c53ns[data-state=active]) {
    --tw-gradient-to: rgb(31 41 55 / 0.65) var(--tw-gradient-to-position)
}

:is(.dark .crcs6[data-state=active])::before {
    content: var(--tw-content);
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

:is(.dark .c6k7e[data-state=active])::before {
    content: var(--tw-content);
    --tw-gradient-from: #1f2937 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(31 41 55 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

:is(.dark .cijvc[data-state=active])::before {
    content: var(--tw-content);
    --tw-gradient-to: rgb(31 41 55 / 0.65) var(--tw-gradient-to-position)
}

@media not all and (min-width: 640px) {
    .cop7l {
        margin-bottom:0.75rem
    }
}

@media (min-width: 580px) {
    .cbi4k {
        grid-template-columns:repeat(2,minmax(0,1fr))
    }

    .cd4zm:nth-child(odd) {
        --tw-rotate: -2deg;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .cjsrp:nth-child(even) {
        --tw-rotate: 2deg;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
}

@media (min-width: 640px) {
    .cebxb {
        margin-top:1.25rem
    }

    .chiqp {
        display: flex
    }
}

@media (min-width: 768px) {
    .cx0hk {
        margin-left:-4rem;
        margin-right: -4rem
    }

    .covzh {
        max-width: 56rem
    }

    .cb8mw {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .cxnuf {
        padding-left: 4rem;
        padding-right: 4rem
    }

    .cefwn {
        -webkit-mask-image: linear-gradient(to right,transparent 48px,black 64px,black 50%,transparent 90%);
        mask-image: linear-gradient(to right,transparent 48px,black 64px,black 50%,transparent 90%)
    }
}
